
<div class="jumbotron">
	<h1>Welcome to Stabbr!</h1>
	<h2>Why just pin something when you can <em>stab</em> it?</h2>
	<p> <%= link_to "Click HERE to sign up!", "#", class: "btn btn-danger btn-large" %> </p>
</div>
